<div class="ui segment">
  <div *ngIf="!settings" class="ui active inverted dimmer">
    <div class="ui text loader">Loading...</div>
  </div>
  <h3 style="text-align: center;">Your Account Settings</h3>

  <form class="ui form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h4 class="ui dividing header">General Settings</h4>
    <div class="field">
      <label>Display Name</label>
      <input 
        type="text" 
        placeholder="Enter Display Name"
        [(ngModel)]="settings.displayName"
        #displayName="ngModel"
        name="displayName"
        autocomplete="off">
    </div>
    <div class="field">
      <label>Bio</label>
      <textarea 
        rows="3"
        placeholder="Enter Account Bio"
        [(ngModel)]="settings.bio"
        #bio="ngModel"
        name="bio"
        autocomplete="off"></textarea>
    </div>
    <div class="field">
      <button type="submit" class="ui blue deny right labeled icon button">
        Save Changes
        <i class="checkmark icon"></i>
      </button>
    </div>
  </form>

</div>
