<div class="ui inverted menu" style="border-radius: 0;">
  <div class="ui container">
    <a routerLink="/" class="header item">
      <img class="logo" src="assets/logo.png" style="margin-right: 1.25em;">
      Team Up!
    </a>
    <div class="ui simple dropdown item">
      Users <i class="dropdown icon"></i>
      <div class="menu">
        <a *ngIf="!isLoggedIn" class="item" routerLink="/login">Login</a>
        <a *ngIf="!isLoggedIn" class="item" routerLink="/register">Register</a>
        <a *ngIf="isLoggedIn" class="item" (click)="onClickLogout()">Logout</a>
        <div class="divider"></div>
        <a *ngIf="isLoggedIn" class="item" [routerLink]="['/profile/'+userId]">View Profile</a>        
        <a *ngIf="isLoggedIn" class="item" [routerLink]="['/profile/'+userId]">Teams & Requests</a>        
      </div>
    </div>
    <div class="ui simple dropdown item">
      Teams <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" routerLink="/">Find A Team</a>
        <a class="item" routerLink="/team-new">Create A Team</a>
        <div class="divider"></div>
        <a class="item" href="#">Team Support</a>
      </div>
    </div>
    <a *ngIf="isLoggedIn;else noUser" class="ui simple item right" [routerLink]="['/profile/'+userId]">
      <b>{{ loggedInUser }}</b>
    </a>
  </div>
</div>

<ng-template #noUser>
  <a class="ui simple item right">
    Not Logged In
  </a>
</ng-template>