select.red { border-color: red !important; color: red !important; }
select.blue { border-color: blue !important; color: blue !important; }
select.green { border-color: green !important; color: green !important; }
select.orange { border-color: orange !important; color: orange !important; }
select.purple { border-color: purple !important; color: purple !important; }
select.black { border-color: black !important; color: black !important; }